# Java specific
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# IDE specific
.vscode/
.settings/
.classpath
.project

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
